<li>
	{{burger_name}}

	<button class="change-yum" data-id="{{id}}" data-yum="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}SPARE HIM!{{/if}}
	</button>

	<button class="delete-yum" data-id="{{this.id}}">DELETE!</button>
</li>
